
@{
    ViewBag.Title = "Index";
}

<h2>Dashboard Index</h2>
@Html.Raw(TempData["LoginSuccessMessage"]);
<h3> Welcome :: @Session["Username"]</h3>

<h4>@Html.ActionLink("Logout", "Logout", "Dashboard")</h4>

<br />













<pre>
dkjdc
cd
csd

dv


d

sd
v
sdv
sd
v

d
v
ds
v
sd
v
d
v
d
v
s
vs
v
s
v
v
</pre>
